extends layout

block content
  section
    .inner
      header  
        h1= area
      section(class='columns double')
        // Question image and text
        .column
          span(class='image left special')
            img(src='images/pic02.jpg', alt='')
          h3 Question: #{topic}
          p= question
        // Answer input box
        .column
          h3 Provide your answer
          form(action='#', method='post')
          .field
            textarea(
              name='message'
              id='message'
              rows='3'
              placeholder='Type your answer here. The limit is xx characters.'
              )
          ul.tabs
            li
              a(
                href='#',
                data-tag='all',
                class='button'
                ) Confident
            li
              a(
                href='#',
                data-tag='all',
                class='button'
                ) Unsure
            li
              a(
                href='#',
                data-tag='all',
                class='button'
                ) No idea    
      h2 Correct Answer
      section(class='columns double')
        // Correct answer 
        .column
          h3 Answer: #{topic}
          p= correct
        // Feedback input box
        .column
          h3 Feedback Form
          form(action='#', method='post')
          .field
            textarea(
              name='message'
              id='feedback'
              rows='3'
              placeholder='If you believe your answer is correct, please explain why.'
              )
          ul.tabs
            li
              a(
                href='#',
                data-tag='submit',
                class='button'
                ) Submit
            li
              a(
                href='#',
                data-tag='cancel',
                class='button'
                ) Cancel
